.ScaleBox{
	position:static; 
	left:0; 
	top:0; 
	z-index: 1;
	_position:static; 
	overflow:hidden; 
	–webkit-user-select:none; 
	-moz-user-select:none; 
	user-select:none;
}
.ScaleRuler_h,.ScaleRuler_v,.RefLine_v,.RefLine_h,.RefDot_h,.RefDot_v{
	position:absolute; 
	left:0; 
	top:0; 
	/*z-index:999;*/
}
.ScaleRuler_h{
	z-index: 300;
	width:100%; 
	height:18px; 
}
.ScaleRuler_v{
	z-index: 300;
	width:18px; 
	height:100%; 
}
.ScaleRuler_v .n,.ScaleRuler_h .n{
	position:absolute; 
	font:10px/1 Arial, sans-serif; 
	color:#333; 
	cursor:default;
}
.ScaleRuler_v .n{
	width:8px; 
	left:3px; 
	word-wrap:break-word;
}
.ScaleRuler_h .n{
	top:2px;
}
.RefLine_v,.RefLine_h,.RefDot_h,.RefDot_v{
	z-index:998;
}
.RefLine_h{
	width:100%; 
	height:3px;
	background:url(/static/image/icon/ruler/line_h.png) repeat-x left center; 
	cursor:url(/static/image/ruler/cur_move_h.cur), move;
}
.RefLine_v{
	width:3px; 
	height:100%; 
	_height:9999px; 
	background:url(/static/image/icon/ruler/line_v.png) repeat-y center top; 
	cursor:url(/static/image/icon/ruler/cur_move_v.cur), move;
}
.RefDot_h{
	width:100%; 
	height:3px; 
	background:url(/static/image/icon/ruler/line_dot.png) repeat-x left 1px; 
	cursor:url(/static/image/icon/ruler/cur_move_h.cur), move; 
	top:-10px;
}
.RefDot_v{
	width:3px; 
	height:100%; 
	_height:9999px; 
	background:url(/static/image/icon/ruler/line_dot.png) repeat-y 1px top; 
	cursor:url(/static/image/icon/ruler/cur_move_v.cur), move; 
	left:-10px;
}
#ScaleRulerH .n{
	display: block;
	top: 0;
	width: 60px;
	height: 18px;
	padding-top: 3px;
	text-align: left;
	background:url(/static/image/icon/ruler/ruler_h.png) repeat-x;
}
#ScaleRulerV .n{
	display: block;
	width: 18px;
	height: 60px;
	background:url(/static/image/icon/ruler/ruler_v.png) repeat-y;
	left: 0;
}

.newN{
	display: block;
	width: 18px;
	height: 60px;
	background:url(/static/image/icon/ruler/ruler_v2.png) repeat-y;
	left: 0;
}